*.gen
.metadata/.mylyn/.taskListIndex/segments_1
*.zip
*.txt
*.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
*.prefs
*.tree
*.version
.metadata/.plugins/org.eclipse.core.resources/.history/8c/a05f195416d2001410deabc812c28dc8
*.xmi
*.xml
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
*.ini
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.properties
*.resources